unless minimal
	small.footer#bottom
		| - 
		a(href='/news.html') #{__('news')}
		|  - 
		a(href='/rules.html') #{__('rules')}
		|  - 
		a(href='/faq.html') #{__('faq')}
		|  - 
		div
			a(href='https://github.com/s5cubed/anthrochan') averi-foo
			|  #{version}
			| All posts and images uploaded to the site are owned by the posters.

//- "render" script - for scripted things that are blocking
script(src=`/js/render.js?v=${commit}`)
