h4.no-m-p #{__('Mod macros')}:
	.row.wrap
		select(id="modmacros")
			option(value='') #{__('--Select a macro--')}
			option(value='approvefile') #{__('Approve file')}
			option(value='rule1') #{__('Rule 1 ban (Illegal)')}
			option(value='rule2') #{__('Rule 2 ban (NSFW)')}
			option(value='rule3') #{__('Rule 3 ban (Hostility)')}
			option(value='rule4') #{__('Rule 4 ban (Spam)')}
			option(value='rule5') #{__('Rule 5 ban (Underage)')}
			option(value='banevasion') #{__('Ban evasion')}